<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <Accounts>
    <Account>
      <Platform>Mintos</Platform>
      <Name>Mintos</Name>
    </Account>
    <Account>
      <Platform>Viainvest</Platform>
      <Name>ViaInvest2</Name>
    </Account>
    <Account>
      <Platform>Bondora</Platform>
      <Name>Bondora</Name>
    </Account>
    <Account>
      <Platform>Mintos</Platform>
      <Name>test</Name>
    </Account>
  </Accounts>
  <PortfolioPerformanceXmlFile>C:\Users\kempa\Dropbox\Portfolio-Performance\SaraLarsPortfolio.xml</PortfolioPerformanceXmlFile>
</Settings>